.Card {
    width: 75%;
    height: fit-content;
    position: relative;
    overflow: hidden; /* Uses card layer as mask */
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.25);
}

.Card h3 {
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    color: #6B5C43;
    margin: 20px 0 0 20px;
    font-weight: normal;
    line-height: 1.2;
    width: 490px;
}

.Card p {
    color: #6B5C4390;
    font-weight: 600;
    font-size: 18px;
    align-self: end;
    margin: 0 0 20px 20px;
    animation: none;
}