.Card {
    width: 75%;
    height: fit-content;
    background: #ffffff;
    position: relative;
    overflow: hidden; /* Uses card layer as mask */
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.25);
    justify-items: center;
    margin: 40px 0;
}

.CardContent {
    position: relative;
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0;
}

@media (max-width: 1000px) {
    .CardContent {
        padding: 0 16px;
    }
}