.Hero {
  background:url('../images/bg-acnh.jpg');
  height: 100%;
  background-size: cover; /* cover entire container. Will stretch & crop image */
  background-position: right bottom; /* align bg img to right of browser window */
  background-attachment: fixed;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 800px;
  padding: 150px 50px 0px 50px;
}


@media (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }

  .Hero h1 {
    font-size: 40px;
  }

  .Hero p {
    font-size: 24px;
  }
}
